.app-name {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
  font-size: 2em;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px; /* Add horizontal margin */
}

.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.register-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.register-form button:active {
  background-color: #0056b3;
}

.register-form button:not(:last-child) {
  margin-bottom: 10px;
}

.error-message {
  color: red;
}

.show-password {
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .register-form {
    max-width: 90%; /* Adjust the max width for smaller screens */
    margin: 0 5%; /* Adjust the margins for smaller screens */
  }

  .app-name {
    font-size: 1.5em;
  }
}
