body {
    margin: 0;
    padding: 0;
}
.page-container {
    display: flex;
    flex-direction: row;
  }
  
  .content-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .sidebar-items {
    list-style-type: none;
    padding: 0;
  }
  
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
    }
  }
  